$lime: #2fcc71;
$sky: #3498db;

.life-cell {
  display:inline-block;
  background-color: white;
  width:1px;
}


.gameboard-container{
  max-width: 1000px;
}

.cell-1{
  background-color: $lime;
}

.cell-2{
  background-color: darken($lime,25%)
}

.generation-box{
  height:2rem;
}
