$slate: #34495e;
$lime: #2fcc71;
$sky: #3498db;
$purple: #9b59b6;
$orange: #e67e22;
$red: rgb(250, 75, 21);
$hoverDarken: 15%;
$hoverLighten: 15%;

body{
  background-color: $slate;
  color: white;
  min-width:520px;
}


.button{
  color:white;
  border-radius: 5px;
  user-select:none;
}


.button-pause{
  background-color: darken($orange,$hoverDarken);
  &:hover{
    background-color: $orange;
  }
  &.selected{
    background-color: $orange;
    box-shadow: inset 0 0 0 2px white;
  }
}

.button-play{
  background-color: darken($lime,$hoverDarken);
  &:hover{
    background-color: $lime;
  }
  &.selected{
    background-color: $lime;
    box-shadow: inset 0 0 0 2px white;
  }
}

.button-settings{
  background-color: darken($sky,$hoverDarken);
  &:hover{
    background-color: $sky;
  }
  &.selected{
    background-color: $sky;
    box-shadow: inset 0 0 0 2px white;
  }
}

.button-options{
  background-color: darken($purple,$hoverDarken);
  &:hover{
      background-color: $purple;
  }
}


.container-settings{
  width: 25rem;
  background-color:darken($sky,$hoverDarken);
  border-radius: 10px;
}

.input-boardsize{
  width: 2.5rem;
  margin: 0 .25rem 0 .25rem;
  display: inline-block;
  border:none;
}

.input-x{
  text-align: right;
}

.input-y{
  text-align: left;
}

.tutorial{
  position:absolute;
  width:100%;
}

.button-bar{
  position:relative;
}
